
<h1>Tutorial</h1>
<h3>Please Choose an option</h3>
<div class='helpSectionForm'>
    <form method='POST' action=''>
        {{ helpSectionForm.hidden_tag() }}
        {{ helpSectionForm.helpField.data }} {{ helpSectionForm.helpField }}
        <br>
        {{ helpSectionForm.submit }}
    </form>
</div>

{% if(displaySection == 'Code Example') %}
{% block codeExample %}
{% endblock codeExample %}
{% endif %}

{% if(displaySection == 'PassIn Example') %}
{% block passInExample %}
{% endblock passInExample %} 
{% endif %}

 <p>&copy;Gregory Beeson 2021</p>